.navbar {
  height: 4.5rem;
  width: 100%;
  background-color: var(--tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .wrapper {
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-size: 1.5rem;
      color: var(--active);
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      span {
        font-size: 1.1rem;
        color: var(--dark);
        text-transform: capitalize;
      }
    }
    .right {
      display: flex;
      gap: 2rem;
      button {
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 1rem;
        .icon {
          font-size: 1.2rem;
          color: var(--text);
        }
        &:nth-child(1) {
          background-color: transparent;
          border-color: var(--active);
          &:hover {
            background-color: var(--active);
          }
        }
      }
      .user_name {
        color: var(--text);
        margin: auto 0;
        p {
          text-transform: uppercase;
          font-size: 0.85rem;
          font-weight: 500;
          letter-spacing: 1px;
        }
      }
    }
  }
}
